@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
.links a {
  color: #b63234;
}
.btn {
  border: 1px solid #b63234 !important ;
  padding: 5px 20px !important;
}
