@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.word {
  width: 75%;
  color: #9e845c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 19.81px;
  font-weight: 400;
  line-height: 26.98px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.word2 {
  color: #9e845c !important;
  font-family: "Open Sans", sans-serif !important;
  font-size: 19.81px;
  font-weight: 400;
  line-height: 26.98px;
}
.about-head {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 85.45px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  font-family: "Cinzel", serif;
}
.receive {
  font-family: "Open Sans", sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.51px;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #bb6500;
}
.btn-custom {
  font-family: "Open Sans", sans-serif !important;

  border: 1px solid #b63234 !important;
  padding: 0.5rem 2rem !important;
  gap: 9.9px;
  border-radius: 3.96px !important;
  opacity: 1;
  color: #fff !important;
  background-color: #ba2b27 !important;
  transition: 0.5s ease-in !important;
}
.btn-custom:hover {
  background-color: #b63234 !important;
  color: #fff !important;
}

.banner {
  background-image: url("/images/banner.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
}
/* styles/about.module.css */
.about-container {
  display: flex;
  flex-wrap: wrap;
}

.card-title {
  font-family: "Cinzel" !important;
  font-size: 16px;
  font-weight: 400;
  line-height: 26.96px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.image-container {
  width: 100%;
  height: auto; /* Ensure height adjusts automatically */
  position: relative; /* Required for the `Image` component */
  overflow: hidden; /* Prevents overflow on small screens */
}

.about-image {
  object-fit: cover; /* Ensures the image fills its container */
}
@media screen and (max-width: 1024px) {
  .banner {
    background-size: cover;
    height: 35vh;
  }
}

@media screen and (max-width: 991px) {
  .banner {
    background-size: cover;
    height: 35vh;
  }
  .word {
    width: 100%;
  }
  .about-head {
    margin-top: 40px;
  }

  .container {
    margin: 0 !important;
    padding: 0 0 0 10px !important;
  }
}

html {
  scroll-behavior: smooth;
}
.links a {
  color: #000000 !important;
}

.navbar-toggler {
  padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
  font-size: var(--bs-navbar-toggler-font-size);
  line-height: 1;
  color: var(--bs-navbar-color);
  background-color: #0000;
  border: var(--bs-border-width) solid #b63234 !important;
  border-radius: var(--bs-navbar-toggler-border-radius);
  transition: var(--bs-navbar-toggler-transition);
}

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ba2b27' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M1.5 12.5a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13zm0-4a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13zm0-4a.5.5 0 0 1 0-1h13a.5.5 0 0 1 0 1h-13z'/%3E%3C/svg%3E") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

/* Header.css */

.navbar-brand {
  width: 80px;
  height: 70px;
}
.navbar-brand img {
  width: 100%;
}

/* Home.module.css */

.product-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  background-color: #fff;
  text-align: center;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.product-info {
  padding: 10px;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  margin: 5px 0;
}

.product-brand {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.product-price {
  font-size: 16px;
  font-weight: bold;
  color: #e74c3c;
  margin: 10px 0;
}
.footer-text {
  width: 60%;
}

@media screen and (max-width: 991px) {
  .footer-text {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .image-container {
    padding-left: 15px; /* Adds padding on the left */
    padding-right: 15px; /* Adds padding on the right */
  }
}
html,
body {
  overflow-x: hidden;
}
